name: Deploy to ArgoCD Repo

on:
  workflow_call:
    inputs:
      env:
        required: false
        default: ''
        type: string
    secrets:
      GH_APP_ID:
        required: true
      GH_APP_PRIVATE_KEY:
        required: true

jobs:
  update_image:
    name: Update Image Tag
    runs-on: "ubuntu-latest"
    steps:
      - name: Get Token
        id: token
        uses: getsentry/action-github-app-token@v1
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - name: Download Docker Digest
        uses: actions/download-artifact@v2
        with:
          name: digest-gar
      - name: Set Docker Digest
        run: echo "DIGEST=$(cat digest-gar.txt)" >> $GITHUB_ENV
      - name: Set Repo Name
        run: echo "REPO_NAME=$(echo "${{ github.repository }}" | sed -e 's,.*/\(.*\),\1,')" >> $GITHUB_ENV
      - name: Set Version
        if: inputs.env == ''
        run: echo "VERSION=$(echo "${{ github.ref }}" | grep "develop" > /dev/null && echo "dev" || echo "prod")" >> $GITHUB_ENV
      - name: Set Version
        if: inputs.env != ''
        run: echo "VERSION=$(echo "${{ inputs.env }}")" >> $GITHUB_ENV
      - name: Clone App of Apps Repo
        uses: actions/checkout@v3
        with:
          repository: dashboardlabs/infra-argocd-app-of-apps
          token: ${{ steps.token.outputs.token }}
      - name: Dump Image
        run: echo "asia-southeast1-docker.pkg.dev/dashlabs/${{ env.VERSION }}/${{ env.REPO_NAME }}@${{ env.DIGEST }}" > src/apps/${{ env.REPO_NAME }}/${{ env.VERSION }}/image.txt
      - run: git config user.name "Totodile Bot"
      - run: git config user.email "95894620+totodile-bot[bot]@users.noreply.github.com"
      - run: git add .
      - run: git commit -m "Update ${{ env.REPO_NAME }} ${{ env.VERSION }}"
      - run: git push
        env:
          github-token: ${{ steps.token.outputs.token }}
